


*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
    background-image: url('../image/1.jpg');
    background-size: 100%;
    
}

.nav ul{
    display: flex;
    list-style: none;
    margin-left: 385px;
    margin-top: 10px;
}

.nav li{
    margin: 10px;
    
}

.nav a{
    text-decoration: none;
    font-family: 'Unbounded', cursive;
    color: white;
}

a:hover{
    color: rgb(83, 82, 82);
    background-color: rgb(224, 148, 5);
}

.doe p{
    font-family: 'Unbounded', cursive;
    font-size: 60px;
    color: white;
    margin-left: 333px;
    margin-top: 225px;
}

.text p{
    color: rgb(58, 57, 57);
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid #241a1a;
    border-radius: 53px

}

.nav .icons{
    font-size: 20px;
    color: white;
    margin-left: 550px;
    

}